<div class="container">
  <div class="row justify-content-center">
    <form id="searchmovies" class="form-inline" action="/" method="get">
      <input id="search" class="form-control mr-sm-2" type="search" placeholder="Search" name="movie" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 btn-sm" type="submit">Search</button>
    </form>
  </div>
  <div>
    <ul id='results'>
      <% @movies["Search"].each do |movie| %>
        <div class='d-flex' data-controller="movies">
          <p data-movies-target="movie"><%= movie["Title"] %></p>
          <%= simple_form_for(@movie) do |f| %>
            <%= f.input :title %>
            <%= f.submit %>
          <% end %>
        </div>
      <% end %>
    </ul>
  </div>
</div>
