<div class="row mt-5">
  <div class="col-sm-12 d-flex justify-content-center bg-light">
    <%= link_to '<i class="fab fa-github fa-2x"></i>'.html_safe, "https://github.com/laicuRoot", class: 'text-dark m-3' %>
  </div>
</div>
